<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
       
     <!--URL's que só podem podem ser acessadas se a sessão for de um usuário-->
    <filter>
        <filter-name>FiltroUsuario</filter-name>
        <filter-class>servlet.FiltroUsuario</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroUsuario</filter-name>

        <url-pattern>/CadastroConta.jsp</url-pattern>
        <url-pattern>/CadastroMovimento.jsp</url-pattern>
        <url-pattern>/EditarConta.jsp</url-pattern>
        <url-pattern>/ErroCadastrarContaExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarContaJaPossui.jsp</url-pattern>       
        <url-pattern>/ErroEditarContaSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarContaViraExistente.jsp</url-pattern>       
        <url-pattern>/ErroExcluirContaReferenciada.jsp</url-pattern>      
        <url-pattern>/ExcluirConta.jsp</url-pattern>     
        <url-pattern>/ListarContas.jsp</url-pattern>
        <url-pattern>/ListarLancamentos.jsp</url-pattern>
        <url-pattern>/ListarSaldosPorCategoria.jsp</url-pattern>
        <url-pattern>/ListarSaldosPorCategoriaTotal.jsp</url-pattern>      
        <url-pattern>/SucessoConta.jsp</url-pattern>       
        <url-pattern>/SucessoEditarConta.jsp</url-pattern>       
        <url-pattern>/SucessoExclusaoConta.jsp</url-pattern>       
        <url-pattern>/SucessoLancamento.jsp</url-pattern>              
        <url-pattern>/homeUsuario.jsp</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/Menu.jsp</url-pattern>
    </filter-mapping>
    
    <!--URL's que só podem podem ser acessadas se a sessão for de um administrador-->
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>servlet.FiltroAdmin</filter-class>
    </filter>   
    <filter-mapping>
        <filter-name>FiltroAdmin</filter-name>

        <url-pattern>/CadastroAdmin.jsp</url-pattern>
        <url-pattern>/CadastroCategoria.jsp</url-pattern>
        <url-pattern>/CadastroUsuario.jsp</url-pattern>
        <url-pattern>/EditarAdministrador.jsp</url-pattern>
        <url-pattern>/EditarCategoria.jsp</url-pattern>    
        <url-pattern>/EditarUsuario.jsp</url-pattern>
        <url-pattern>/ErroAlterarStatusInexistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarAdminExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarCategoriaExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarUsuarioExistente.jsp</url-pattern>
        <url-pattern>/ErroEditarAdministradorSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarCategoriaSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarUsuarioSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroExcluirCategoriaReferenciada.jsp</url-pattern>
        <url-pattern>/ErroExcluirUsuarioReferenciado.jsp</url-pattern>
        <url-pattern>/ExcluirAdministrador.jsp</url-pattern>
        <url-pattern>/ExcluirCategoria.jsp</url-pattern>
        <url-pattern>/ExcluirUsuario.jsp</url-pattern>
        <url-pattern>/LiberarUsuario.jsp</url-pattern>
        <url-pattern>/ListarAdministradores.jsp</url-pattern>
        <url-pattern>/ListarCategorias.jsp</url-pattern>
        <url-pattern>/ListarUsuarios.jsp</url-pattern>
        <url-pattern>/SucessoAdmin.jsp</url-pattern>
        <url-pattern>/SucessoAlteracao.jsp</url-pattern>
        <url-pattern>/SucessoCategoria.jsp</url-pattern>
        <url-pattern>/SucessoEditarAdministrador.jsp</url-pattern>
        <url-pattern>/SucessoEditarCategoria.jsp</url-pattern>
        <url-pattern>/SucessoEditarUsuario.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoAdministrador.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoCategoria.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoUsuario.jsp</url-pattern>
        <url-pattern>/SucessoLiberarUsuario.jsp</url-pattern>
        <url-pattern>/SucessoSuspenderUsuario.jsp</url-pattern>
        <url-pattern>/SucessoUsuario.jsp</url-pattern>
        <url-pattern>/SuspenderUsuario.jsp</url-pattern>
        <url-pattern>/homeAdmin.jsp</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/Menu.jsp</url-pattern>
    </filter-mapping>
      
    <!--URL's que não podem ser acessadas enquanto não houver uma sessão ativa-->
    <filter>
        <filter-name>FiltroDeslogado</filter-name>
        <filter-class>servlet.FiltroDeslogado</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>FiltroDeslogado</filter-name>

        <url-pattern>/CadastroAdmin.jsp</url-pattern>
        <url-pattern>/CadastroCategoria.jsp</url-pattern>
        <url-pattern>/CadastroConta.jsp</url-pattern>
        <url-pattern>/CadastroMovimento.jsp</url-pattern>
        <url-pattern>/CadastroUsuario.jsp</url-pattern>
        <url-pattern>/EditarAdministrador.jsp</url-pattern>
        <url-pattern>/EditarCategoria.jsp</url-pattern>
        <url-pattern>/EditarConta.jsp</url-pattern>
        <url-pattern>/EditarUsuario.jsp</url-pattern>
        <url-pattern>/Erro.jsp</url-pattern>
        <url-pattern>/ErroAlterarStatusInexistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarAdminExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarCategoriaExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarContaExistente.jsp</url-pattern>
        <url-pattern>/ErroCadastrarContaJaPossui.jsp</url-pattern>
        <url-pattern>/ErroCadastrarUsuarioExistente.jsp</url-pattern>
        <url-pattern>/ErroEditarAdministradorSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarCategoriaSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarContaSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroEditarContaViraExistente.jsp</url-pattern>
        <url-pattern>/ErroEditarUsuarioSemAlteracao.jsp</url-pattern>
        <url-pattern>/ErroExcluirCategoriaReferenciada.jsp</url-pattern>
        <url-pattern>/ErroExcluirContaReferenciada.jsp</url-pattern>
        <url-pattern>/ErroExcluirUsuarioReferenciado.jsp</url-pattern>
        <url-pattern>/ExcluirAdministrador.jsp</url-pattern>
        <url-pattern>/ExcluirCategoria.jsp</url-pattern>
        <url-pattern>/ExcluirConta.jsp</url-pattern>
        <url-pattern>/ExcluirUsuario.jsp</url-pattern>
        <url-pattern>/LiberarUsuario.jsp</url-pattern>
        <url-pattern>/ListarAdministradores.jsp</url-pattern>
        <url-pattern>/ListarCategorias.jsp</url-pattern>
        <url-pattern>/ListarContas.jsp</url-pattern>
        <url-pattern>/ListarLancamentos.jsp</url-pattern>
        <url-pattern>/ListarSaldosPorCategoria.jsp</url-pattern>
        <url-pattern>/ListarSaldosPorCategoriaTotal.jsp</url-pattern>
        <url-pattern>/ListarUsuarios.jsp</url-pattern>
        <url-pattern>/SucessoAdmin.jsp</url-pattern>
        <url-pattern>/SucessoAlteracao.jsp</url-pattern>
        <url-pattern>/SucessoCategoria.jsp</url-pattern>
        <url-pattern>/SucessoConta.jsp</url-pattern>
        <url-pattern>/SucessoEditarAdministrador.jsp</url-pattern>
        <url-pattern>/SucessoEditarCategoria.jsp</url-pattern>
        <url-pattern>/SucessoEditarConta.jsp</url-pattern>
        <url-pattern>/SucessoEditarUsuario.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoAdministrador.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoCategoria.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoConta.jsp</url-pattern>
        <url-pattern>/SucessoExclusaoUsuario.jsp</url-pattern>
        <url-pattern>/SucessoLancamento.jsp</url-pattern>
        <url-pattern>/SucessoLiberarUsuario.jsp</url-pattern>
        <url-pattern>/SucessoSuspenderUsuario.jsp</url-pattern>
        <url-pattern>/SucessoUsuario.jsp</url-pattern>
        <url-pattern>/SuspenderUsuario.jsp</url-pattern>
        <url-pattern>/homeAdmin.jsp</url-pattern>
        <url-pattern>/homeUsuario.jsp</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/Menu.jsp</url-pattern>
    </filter-mapping>
</web-app>
